body{
    background-color:black !important;
}


.heading{
    text-align: center; 
    color: red;
    margin-top: 50px;
    margin-bottom: 50px;
}
td{
    height: 150px;
    width: 150px;
    border: 1px solid white !important;
    color: white;
    text-align: center;
    font-size: 60px;
    color: red;
}
table{
    margin-left: auto;
    margin-right: auto;
}

